---
---

//
// THEME VARIABLES
//

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --link-color: #1772d0;
  --link-hover: #f09228;
  --border-color: #e0e0e0;
  --table-bg: #ffffff;
}

body.dark-theme {
  --bg-color: #1e1e1e;
  --text-color: #e0e0e0;
  --link-color: #64b5f6;
  --link-hover: #ffb74d;
  --border-color: #333333;
  --table-bg: #252525;
}

//
// BASE RULES
//
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 1.5s ease;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-display: auto;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--link-hover);
  text-decoration: none;
}

table {
  background-color: transparent !important;
  border-color: transparent;
  width: 100%; /* Common table setting */
}

td,
th,
tr {
  background-color: transparent !important;
}

p {
  /* Inherits color and background from body */
}

strong,
td,
th,
tr,
p {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-display: auto;
}

h1 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: normal;
  font-display: auto;
  text-align: center;
  padding: 0px;
  margin-block-start: 14px;
  margin-block-end: 14px;
  margin-left: 0px;
  margin-right: 0px;
}

h2 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
  font-display: auto;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  /* Removed display: inline; */
}

h3 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-display: auto;
  padding: 0px;
  margin: 0px;
  /* Removed display: inline; */
}

span.highlight {
  background-color: #ffffd0;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";
